@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: black;
  height: 100vh;
}

.calendar {
  display: flex;
  flex-direction: row;
}

#date {
  font-size: 1.2rem;
  text-align: right;

  padding: 4%;
}

#current {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  padding-top: 4vh;
  padding-bottom: 1vh;

  font-weight: normal;
}

#current .prayer-name {
  font-size: 2.6rem;
}
#current .prayer-time {
  font-size: 1.6rem;
}

#next-prayer {
  padding-top: 10px;
  font-size: 1rem;
}

.speaker {
  margin-top: 3.5vh;
  width: 4vh;
}

.daily-prayers {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.daily-prayers > .prayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  width: 95vw;
  height: 10vh;
  border-radius: 8px;
  background: rgba(98, 104, 104, 0.5);
}

.prayer:active {
  opacity: 0.8;
  transition: 0.1s opacity ease-out;
}

.prayer-name {
  font-size: 2rem;
}

.prayer-time {
  font-size: 2rem;
}


.now {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
}

.now-off {
  box-shadow: none;
}